.showuser-div {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.container {
  position: absolute;
  width: 100%!important;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: inherit;
}
.col-md-2 {
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}
.col-md-9 {
  position: absolute;
  width: 100%!important;
  left: 10%;
  height: 100%;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 90%;
}
.showuser-toolbar {
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  left: auto;
  height: 6%;
}
.showuser-fill {
  flex: 1 1 auto;
}
.shouwuser-example-card {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  left:0;
  right: 0;
}
.showuser-card-table {
  width: 100%;
  right: 0;
}
.showuser-card-button {
  text-align: left;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.showuser-card-header {
  text-align: center;
  font-weight: 600;
  margin-top: 12px;
  width: 100%;
  left: 0;
  right: 0;
  align-self: center;
}
.showuser-matlistitemh {
  font-weight: 900;
  font-size: 14px;
}
.showuser-matlistitem {
  font-size: 10px;
  font-weight: 100;
}


