<p>
  <button (click)="getLeaveRecord()">查看请假申请</button>
</p>

<div *ngIf="leaveRecord">
  <ul *ngFor="let leaverecord of leaveRecord">
    <li (click)="editLeaveRecord(leaverecord)">
      <span class="badge">{{leaverecord.rid}}</span> {{leaverecord.pid}}
    </li>
  </ul>
</div>


<div *ngIf="selectedRecord">

  <input [(ngModel)]="selectedRecord.begintime" id = "bgtime">
  <input [(ngModel)]="selectedRecord.endtime" id = "edtime">
  <input [(ngModel)]="selectedRecord.type">
  <input [(ngModel)]="selectedRecord.reason">
  <button (click)="sentEdit()" >提交修改</button>
</div>


